* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
}

.header {
  background-color: #1a1a1a;
}

.header__logo-img {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
}

.header__wrap {
  align-items: center;
  padding: 10px 0;
}

.header__colm {
  text-align: center;
}

.header__contact {
  display: flex;
  flex-direction: column;
}
