* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1px;
}

.header__wrap {
  align-items: center;
  padding-top: 5px;
}

.header__logo-img {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
}

.header__colm {
  text-align: center;
}

.header__title {
  font-family: "Potta One", cursive;
  font-size: 38px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.header__text {
  font-family: "Potta One", cursive;
  font-size: 32px;
  padding-top: 5px;
}

.header__contact {
  display: flex;
  flex-direction: column;
}

.header__contact a {
  color: #ffffff;
  font-weight: bold;
  padding-top: 5px;
  margin: auto;
}

.header__nav-list {
  margin: auto;
  flex-wrap: wrap;
}

.header__nav-item {
  padding: 5px 0;
}

.header__nav-link {
  color: #ffffff;
  font-size: 21px;
  transition: all 0.2s linear;
}

.header__nav-link:hover {
  color: #e6ac00;
}

@media (min-width: 991px) {
  .header__nav-item {
    padding: 10px 40px;
  }
}

.intro {
  background-color: #f2f2f2;
  color: #000000;
}

.intro__colm {
  text-align: center;
}

.intro__colm-title {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  padding-top: 45px;
}

.intro__colm-text {
  letter-spacing: 1px;
}
