.header {
   letter-spacing: 1px;
}

.header__wrap {
   align-items: center;
   padding-top: 5px;
}

.header__logo-img {
   background-color: $white;
   border-radius: 50%;
   padding: 5px;
}

.header__colm {
   text-align: center;
}

.header__title {
   font-family: "Potta One", cursive;
   font-size: 38px;
   letter-spacing: 6px;
   text-transform: uppercase;
   color: $orange-hover;
}

.header__text {
   font-family: "Potta One", cursive;
   font-size: 32px;
   padding-top: 5px;
}

.header__contact {
   display: flex;
   flex-direction: column;
}

.header__contact a {
   color: $white;
   font-weight: bold;
   padding-top: 5px;
   margin: auto;
}

.header__contact-telephone {
   transition: color 0.2s linear;
   &:hover {
      color: $orange-hover;
   }
   &:active {
      color: $orange-active;
   }
}

.header__nav-list {
   margin: auto;
   flex-wrap: wrap;
}

.header__nav-item {
   padding: 5px 0;
}

.header__nav-link {
   color: $white;
   font-size: 21px;
   transition: color 0.2s linear;
   &:hover {
      color: $orange-hover;
   }
   &:active {
      color: $orange-active;
   }
}

@media (min-width: 991px) {
   .header__nav-item {
      padding: 10px 40px;
   }
}
