.intro {
   background-color: $bg-white;
   color: $black;
}

.intro__colm {
   text-align: center;
}

.intro__colm-title {
   font-size: 30px;
   line-height: 42px;
   font-weight: bold;
   padding-top: 45px;
}

.intro__colm-text {
   letter-spacing: 1px;
}
