.services {
   color: $black;
   padding-top: 80px;
   padding-left: 10px;
   padding-right: 10px;
}

.services__wrap {
   background-color: $bg-white;
   position: relative;
   border-radius: 4px;
   &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: -40px;
      transform: translate(-50%);
      width: 100px;
      height: 4px;
      background-color: $orange-hover;
   }
}

.services__title {
   text-align: center;
   padding-top: 45px;
}

.services__title-wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 25px 0 15px 0;
   border-bottom: 2px solid $orange-hover;
}

.services__subtitle {
   font-size: 28px;
   line-height: 34px;
   text-align: center;
   padding-right: 15px;
   margin: 0;
}

.services__colm-wrap {
   max-width: 800px;
   margin: 0 auto;
}

.services__colm {
   padding: 20px 20px;
   border-bottom: 2px solid $bg-black;
}

.services__colm-title {
   font-size: 26px;
   line-height: 34px;
   font-weight: bold;
   padding-bottom: 20px;
   text-align: center;
}

.services__colm-button {
   position: relative;
   display: flex;
   border: none;
   outline: none;
   background-color: transparent;
   width: 100%;
   padding: 5px 0;
   transition: all 0.2s linear;
   &::after {
      content: "";
      position: absolute;
      background-color: $black;
      width: 16px;
      height: 2px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
   }
   &::before {
      content: "";
      position: absolute;
      background-color: $bg-black;
      width: 2px;
      height: 16px;
      right: 17px;
      top: 50%;
      transform: translateY(-50%);
   }
}

.services__colm-button--active {
   &::before {
      display: none;
   }
   &::after {
      opacity: 0.5;
   }
}

.services__colm-subtitle {
   font-size: 20px;
   line-height: 28px;
   font-weight: bold;
   text-align: center;
}

.services__colm-list {
   display: none;
}

.services__colm-list--active {
   display: block;
}

.services__colm-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 0;
   border-bottom: 1px solid $line;
}

.services__colm-sum {
   font-weight: bold;
   padding-left: 15px;
}

@media (min-width: 1200px) {
   .services__colm {
      padding: 20px 50px;
   }
}

@media (max-width: 991px) {
   .services__colm-item {
      align-items: center;
      text-align: start;
   }
}

@media (max-width: 767px) {
   .services__colm {
      padding: 20px 40px;
      flex: auto;
   }
   .services__title {
      padding: 35px 0 15px 0;
   }
}

@media (max-width: 375px) {
   .services__colm {
      padding: 10px 20px;
   }
}
